body {
    background-color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    max-width: 300px;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
  }
  
  #spinner-container {
    position: relative;
    width: 600px; /* Adjust the width and height as needed to make the spinner larger */
    height: 600px;
    cursor: pointer;
  }
  
  #spinner-img {
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transition: transform 1s cubic-bezier(0.355, 0.035, 0.000, 1.005);
  }

  #spinner-text {
    position:absolute;
    top:80vh;
    font-size: 32px;
    font-family:"Comic Sans MS";
    font-weight: bold;
    color:#ccc;
    
  }

  #spinner-indicator {
    position: absolute;
    float:right;
    width:150px;
    height:auto;
    margin-top:390px;
    margin-left:650px;
  }
  